.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class

data/raw/**/*
data/processed/**/*
data/labels/**/*

!data/**/.gitkeep

!data/dataset.yaml

models/*.pt
models/*.onnx
models/*.engine
models/*.pb

outputs/vehicle_detection_v1/
results/predict/
results/chart/
results/video/
runs/

!outputs/**/.gitkeep

.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini