.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class

data/raw/**/*
data/processed/**/*
data/labels/**/*

!data/**/.gitkeep

!data/dataset.yaml

models/*.pt
models/*.onnx
models/*.engine
models/*.pb

outputs/images/**/*
outputs/videos/**/*
outputs/logs/**/*
runs/

!outputs/**/.gitkeep

.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini